# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [7]:
# Set the file path to import the WeatherPy_database.csv file
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.DataFrame(city_data_df)

# Display sample data
city_data_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Thompson,CA,55.7435,-97.8558,51.96,82,0,5.75,clear sky
1,1,Phan Thiet,VN,10.9333,108.1000,83.68,76,82,11.83,broken clouds
2,2,East London,ZA,-33.0153,27.9116,67.14,72,0,19.57,clear sky
3,3,Atuona,PF,-9.8000,-139.0333,76.69,74,9,19.10,clear sky
4,4,Bambous Virieux,MU,-20.3428,57.7575,77.25,65,75,17.27,broken clouds
5,5,Mahebourg,MU,-20.4081,57.7000,77.29,65,75,17.27,broken clouds
6,6,Songjianghe,CN,42.1859,127.4790,48.81,97,100,10.13,heavy intensity rain
7,7,Hilo,US,19.7297,-155.0900,79.29,90,0,4.61,clear sky
8,8,Valera,VE,9.3178,-70.6036,69.35,77,68,5.17,broken clouds
9,9,Hithadhoo,MV,-0.6000,73.0833,82.13,68,94,15.17,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [8]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [10]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
#Display sample data
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Phan Thiet,VN,10.9333,108.1000,83.68,76,82,11.83,broken clouds
3,3,Atuona,PF,-9.8000,-139.0333,76.69,74,9,19.10,clear sky
4,4,Bambous Virieux,MU,-20.3428,57.7575,77.25,65,75,17.27,broken clouds
5,5,Mahebourg,MU,-20.4081,57.7000,77.29,65,75,17.27,broken clouds
7,7,Hilo,US,19.7297,-155.0900,79.29,90,0,4.61,clear sky
9,9,Hithadhoo,MV,-0.6000,73.0833,82.13,68,94,15.17,overcast clouds
14,14,Sitangkai,PH,4.6628,119.3928,82.98,74,86,6.93,moderate rain
16,16,Joshimath,IN,30.5667,79.5667,75.94,48,14,8.32,few clouds
19,19,Souillac,MU,-20.5167,57.5167,77.38,65,75,17.27,broken clouds
21,21,Bathsheba,BB,13.2167,-59.5167,79.41,89,40,8.05,scattered clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [11]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Phan Thiet,VN,10.9333,108.1000,83.68,76,82,11.83,broken clouds
3,3,Atuona,PF,-9.8000,-139.0333,76.69,74,9,19.10,clear sky
4,4,Bambous Virieux,MU,-20.3428,57.7575,77.25,65,75,17.27,broken clouds
5,5,Mahebourg,MU,-20.4081,57.7000,77.29,65,75,17.27,broken clouds
7,7,Hilo,US,19.7297,-155.0900,79.29,90,0,4.61,clear sky
9,9,Hithadhoo,MV,-0.6000,73.0833,82.13,68,94,15.17,overcast clouds
14,14,Sitangkai,PH,4.6628,119.3928,82.98,74,86,6.93,moderate rain
16,16,Joshimath,IN,30.5667,79.5667,75.94,48,14,8.32,few clouds
19,19,Souillac,MU,-20.5167,57.5167,77.38,65,75,17.27,broken clouds
21,21,Bathsheba,BB,13.2167,-59.5167,79.41,89,40,8.05,scattered clouds

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [12]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp","Current Description", "Lat", "Lng"]].copy()


#Display same data
hotel_df.head(10)

               City Country  Max Temp Current Description      Lat       Lng
1        Phan Thiet      VN     83.68       broken clouds  10.9333  108.1000
3            Atuona      PF     76.69           clear sky  -9.8000 -139.0333
4   Bambous Virieux      MU     77.25       broken clouds -20.3428   57.7575
5         Mahebourg      MU     77.29       broken clouds -20.4081   57.7000
7              Hilo      US     79.29           clear sky  19.7297 -155.0900
9         Hithadhoo      MV     82.13     overcast clouds  -0.6000   73.0833
14        Sitangkai      PH     82.98       moderate rain   4.6628  119.3928
16        Joshimath      IN     75.94          few clouds  30.5667   79.5667
19         Souillac      MU     77.38       broken clouds -20.5167   57.5167
21        Bathsheba      BB     79.41    scattered clouds  13.2167  -59.5167

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [13]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Phan Thiet,VN,83.68,broken clouds,10.9333,108.1000,
3,Atuona,PF,76.69,clear sky,-9.8000,-139.0333,
4,Bambous Virieux,MU,77.25,broken clouds,-20.3428,57.7575,
5,Mahebourg,MU,77.29,broken clouds,-20.4081,57.7000,
7,Hilo,US,79.29,clear sky,19.7297,-155.0900,
9,Hithadhoo,MV,82.13,overcast clouds,-0.6000,73.0833,
14,Sitangkai,PH,82.98,moderate rain,4.6628,119.3928,
16,Joshimath,IN,75.94,few clouds,30.5667,79.5667,
19,Souillac,MU,77.38,broken clouds,-20.5167,57.5167,
21,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [14]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [17]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [18]:
# Display sample data
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Phan Thiet,VN,83.68,broken clouds,10.9333,108.1000,Hotel Saigon-PT
3,Atuona,PF,76.69,clear sky,-9.8000,-139.0333,Villa Enata
4,Bambous Virieux,MU,77.25,broken clouds,-20.3428,57.7575,Casa Tia Villa
5,Mahebourg,MU,77.29,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
7,Hilo,US,79.29,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Hithadhoo,MV,82.13,overcast clouds,-0.6000,73.0833,Scoop Guest House
14,Sitangkai,PH,82.98,moderate rain,4.6628,119.3928,Ama House
16,Joshimath,IN,75.94,few clouds,30.5667,79.5667,Shivalik Camps & Resort
19,Souillac,MU,77.38,broken clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
21,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [19]:
# Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Phan Thiet,VN,83.68,broken clouds,10.9333,108.1000,Hotel Saigon-PT
3,Atuona,PF,76.69,clear sky,-9.8000,-139.0333,Villa Enata
4,Bambous Virieux,MU,77.25,broken clouds,-20.3428,57.7575,Casa Tia Villa
5,Mahebourg,MU,77.29,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
7,Hilo,US,79.29,clear sky,19.7297,-155.0900,Hilo Hawaiian Hotel
9,Hithadhoo,MV,82.13,overcast clouds,-0.6000,73.0833,Scoop Guest House
14,Sitangkai,PH,82.98,moderate rain,4.6628,119.3928,Ama House
16,Joshimath,IN,75.94,few clouds,30.5667,79.5667,Shivalik Camps & Resort
19,Souillac,MU,77.38,broken clouds,-20.5167,57.5167,Shanti Maurice Resort & Spa
21,Bathsheba,BB,79.41,scattered clouds,13.2167,-59.5167,Atlantis Hotel

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [20]:
# Set the file name.
output_data_file = "WeatherPy_vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file)

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [21]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [22]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Saigon-PT</dd>\n<dt>City</dt><dd>Phan Thiet</dd>\n<dt>Country</dt><dd>VN</dd>\n<dt>Current Weather</dt><dd>broken clouds and 83.68 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>clear sky and 76.69 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Casa Tia Villa</dd>\n<dt>City</dt><dd>Bambous Virieux</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.25 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shandrani Beachcomber Resort & Spa</dd>\n<dt>City</dt><dd>Mahebourg</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>clear sky and 79.29 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 82.13 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Ama House</dd>\n<dt>City</dt><dd>Sitangkai</dd>\n<dt>Country</dt><dd>PH</dd>\n<dt>Current Weather</dt><dd>moderate rain and 82.98 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shivalik Camps & Resort</dd>\n<dt>City</dt><dd>Joshimath</dd>\n<dt>Country</dt><dd>IN</dd>\n<dt>Current Weather</dt><dd>few clouds and 75.94 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Shanti Maurice Resort & Spa</dd>\n<dt>City</dt><dd>Souillac</dd>\n<dt>Country</dt><dd>MU</dd>\n<dt>Current Weather</dt><dd>broken clouds and 77.38 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Atlantis Hotel</dd>\n<dt>City</dt><dd>Bathsheba</dd>\n<dt>Country</dt><dd>BB</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 79.41 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [23]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
1   10.9333  108.1000
3   -9.8000 -139.0333
4  -20.3428   57.7575
5  -20.4081   57.7000
7   19.7297 -155.0900
9   -0.6000   73.0833
14   4.6628  119.3928
16  30.5667   79.5667
19 -20.5167   57.5167
21  13.2167  -59.5167

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [27]:
# Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
# Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Create a figure to add the Google map as a layer
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))